body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    border: 0;
    background-color: #FEFEFE;
}
* {
    box-sizing: border-box
}
header {
    margin: 3% 25% 0 25%;
}
.sphoto {
    display: flex
    justify-content: space-between;
}
.tphoto {

}
main {
    
}
.youtube {
margin: 0 500px 0 730px;
display: flex;
}
.photoa {
    opacity: 1;
    position: relative;
    left: 15px;
}
.photoa:hover {
    opacity: 0.7;
}
.photob {
    text-align: right;
    position: relative;
    left: 80px;
    top: 25px;
    opacity: 1;
    transition: transform 0.3s;
}
.photob:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.note {
    margin: 100px 500px 100px 730px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photoc {
    padding-top: 28px;
    opacity: 1;
}
.photoc:hover {
    opacity:0.7;
}
.photod {
    position: relative;
    right: 20px;
    opacity: 1;
    transition: transform 0.3s;
}
.photod:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.X {
    margin: 12px 500px 0 730px;
}
.photoe {
    position: relative;
    left: 18px;
    opacity: 1;
}
.photoe:hover {
    opacity: 0.7;
}
.container {
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}
section {
    margin-top: 230px;
}
.photof {
    opacity: 1;
    transition: transform 0.3s;
}
.photof:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photoh {
    opacity: 1;
    transition: transform 0.3s;
}
.photoh:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photoi {
    opacity: 1;
    transition: transform 0.3s;
}
.photoi:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photoj {
    opacity: 1;
    transition: transform 0.3s;
}
.photoj:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photok {
    opacity: 1;
    transition: transform 0.3s;
}
.photok:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photol {
    opacity: 1;
    transition: transform 0.3s;
}
.photol:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photom {
    opacity: 1;
    transition: transform 0.3s;
}
.photom:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photon {
    margin-left: 1138px;
    margin-top: 70px;
}
.photoo {
    opacity: 1;
    transition: transform 0.3s;
}
.photoo:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.photop {
    opacity: 1;
    transition: transform 0.3s;
}
.photop:hover {
    opacity: 0.9;
    transform: scale(1.1)
}
.sabuc {
    margin-top: 120px;
    margin-left: 500px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}
footer {
    margin-top: 300px;
}
footer h2 {
    text-align: center;
    margin-top: 100px;
    position: relative;
    left: 100px;
    font-weight: normal;
    font-family: Hiragino Mincho Pro;
    font-size: 17px;
}
footer p {
    text-align: center;
    position: relative;
    left: 80px;
    font-family: Hiragino Mincho Pro;
}
.maila {
    margin-top: 20px;
}
.chosa {
    margin-top: 60px;
}